/* AdminLayout.css */
.admin-layout {
  display: flex;
  min-height: 100vh; /* Sayfa yüksekliği için minimum yüksekliği ayarla */
}

.admin-layout .header {
  background: #001529; /* Header arka plan rengi */
  color: white; /* Header metin rengi */
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.admin-layout .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.admin-layout .menu-button {
  display: none;
}

.admin-layout .header-title {
  color: white;
  margin: 0;
  text-align: center;
}

.admin-layout .content {
  padding: 24px;
  transition: margin-left 0.2s;
  margin-top: 64px; /* Header yüksekliği kadar üstten boşluk bırak */
}

/* Daha geniş ekranlar için: */
@media (min-width: 992px) {
  .admin-layout .mobile-menu {
    display: none;
  }

  .admin-layout .desktop-menu {
    display: flex;
    width: 240px; /* Genişletilmiş sidebar genişliği */
    position: fixed;
    height: 100%; /* Tam yükseklik */
    top: 64px; /* Header yüksekliği kadar aşağıda */
    left: 0;
    overflow-y: auto;
    background: #001529; /* Sidebar arka plan rengi */
  }

  .admin-layout .desktop-menu.collapsed {
    width: 80px; /* Daraltılmış sidebar genişliği */
  }

  .admin-layout .content {
    margin-left: calc(240px + 16px); /* Sidebar geniş olduğunda */
  }

  .admin-layout .desktop-menu.collapsed ~ .content {
    margin-left: calc(80px + 16px); /* Sidebar daraltıldığında */
  }

  .admin-layout .collapse-button {
    display: block; /* Sadece masaüstü için */
  }
}

/* Daha küçük ekranlar için: */
@media (max-width: 991px) {
  .admin-layout .desktop-menu {
    display: none;
  }

  .admin-layout .menu-button {
    display: block;
  }

  .admin-layout .header-title {
    text-align: center;
    width: calc(100% - 48px); /* Menü ve collapse button genişliği çıkarıldı */
  }

  .admin-layout .content {
    margin-left: 0; /* Mobil görünümde margin ayarlarını sıfırla */
  }
}

/* Hamburger menü için */
.mobile-menu {
  width: 240px; /* İhtiyaca göre ayarlayın */
  background: #001529; /* Hamburger menü arka plan rengi */
}

/* Menü genişletme/daraltma butonu */
.collapse-button {
  display: none; /* Varsayılan olarak gizle */
  margin-left: auto;
  color: white; /* Buton rengi */
}

@media (max-width: 991px) {
  .admin-layout .collapse-button {
    display: none; /* Sadece masaüstü için */
  }
}

@media (min-width: 992px) {
  .admin-layout .collapse-button {
    display: block; /* Sadece masaüstü için */
  }
}
