/* Genel Layout ve Responsive Ayarlar */

.admin-layout {
  display: flex; /* Flexbox ile düzenleme yapar */
  flex-direction: row; /* Yatayda düzenleme */
  min-height: 100vh; /* Minimum yükseklik ekranın tamamını kapsar */
  overflow: hidden; /* Taşan içeriği gizler */
  padding-top: 10px; /* Header yüksekliği kadar boşluk bırakır */
  padding-bottom: 30px; /* Sayfanın altından 30px boşluk bırakır */
  
}

/* Header Stilleri */

.admin-layout .header {
  background: var(--header-bg-color); /* Arka plan rengini değişkenle ayarlar */
  color: var(--header-text-color); /* Yazı rengini değişkenle ayarlar */
  padding: 0 16px; /* Sol ve sağ padding 16px */
  display: flex; /* Flexbox ile düzenleme yapar */
  align-items: center; /* Dikeyde ortalar */
  justify-content: space-between; /* Başlık ile butonları aralar */
  width: calc(100% - 20px); /* Tam genişlikten sol ve sağ margin miktarını çıkarır */
  position: fixed; /* Sabit pozisyonda kalır */
  top: 0; /* Üstten sıfır mesafede */
  z-index: 1000; /* Üst üste binme sıralamasında üstte kalır */
  border-radius: 30px; /* Köşeleri oval yapar */
  margin: 0 10px; /* Sağ ve soldan 10px boşluk bırakır */
}

/* Header İçeriği ve Butonlar */

.header-content {
  display: flex; /* Flexbox ile düzenleme yapar */
  align-items: center; /* Dikeyde ortalar */
  width: 100%; /* Tam genişlik */
}

.header-title {
  flex: 1; /* Esnek büyüme oranı 1 */
  text-align: left; /* Metni ortalar */
  margin: 0; /* Dış boşluk yok */
}

.menu-button, .settings-button {
  font-size: 20px; /* Yazı tipi boyutu 20px */
  color: inherit; /* Üst öğenin rengini alır */
}

/* Menü başlıklarının bulunduğu alan için stil */
.menu-header {
  border-radius: 15px; /* Köşe ovalleştirme */
  background: var(--menu-bg-color); /* Arka plan rengini değişkenle ayarlar */
  padding: 10px; /* İç boşluk */
}

/* Masaüstü Menü ve Çekmece */

.desktop-menu {
  background: var(--menu-bg-color); /* Arka plan rengini değişkenle ayarlar */
  position: fixed; /* Sabit pozisyonda kalır */
  top: 64px; /* Üstten 64px mesafede */
  bottom: 30px; /* Alttan mesafe */
  transition: width 0.6s ease, margin-left 0.6s ease; /* Geçiş süresi ve zamanlama fonksiyonu */
  border-radius: 30px; /* Köşeleri oval yapar */
  overflow: hidden; /* İçeriği sınırlar */
  left: 10px; /* Soldan 10px boşluk bırakır */
  height: calc(100vh - 64px - 30px); /* Menü yüksekliği, üst ve alt boşlukları hesaba katar */
  padding-top: 120px;
  width: 240px; /* Genişlik: menü genişliği */
  z-index: 100; /* Menü çekmecesinin üstte görünmesini sağlar */
}

.desktop-menu::after {
  content: ''; /* Pseudo-element için içerik */
  position: absolute; /* Pozisyonlama */
  bottom: 0; /* Altta konumlandırma */
  left: 0; /* Solda konumlandırma */
  width: 100%; /* Tam genişlik */
  height: 30px; /* Yükseklik: menü altındaki köşeleri oval yapar */
  border-radius: 0 0 30px 30px; /* Alt köşeleri oval yapar */
  background: inherit; /* Arka plan rengini menüden alır */
  z-index: -1; /* Menü altına yerleştirir */
}

.desktop-menu.collapsed {
  width: 80px; /* Daraltılmış genişlik 80px */
  border-radius: 30px; /* Köşeleri oval yapar */
  height: calc(100vh - 64px - 30px); /* Daraltıldığında da yüksekliği korur */
  position: fixed; /* Sabit pozisyonda kalır */
  top: 74px;
}

.mobile-menu-drawer {
  border-radius: 30px; /* Köşeleri oval yapar */
  position: relative; /* Çekmecenin kendisi için relative konumlandırma */
  top: 74px; /* Header yüksekliği + 10px boşluk */
  left: 10px;
  background: var(--menu-bg-color); /* Menü arka plan rengini değişkenle ayarlar */
  z-index: 999; /* Üst üste binme sıralamasında headerın altında kalır */
  box-shadow: none; /* menü üzerinde gölge yok */
  overflow: hidden; /* Taşma durumunda kaydırma çubuğu eklemez */
}

/* Mobil menü çekmecesi içindeki menülerin başlangıç koordinatları */
.mobile-menu-drawer .ant-menu {
  position: absolute; /* Menü içeriğinin boşluktan etkilenmemesi için absolute konumlandırma */
  top: 120px;
  left: 0;
  bottom: 30px;
  width: calc(100% - 20px); /* Çekmecenin kendisi 10px sol ve sağ boşlukla ayarlanacağı için genişliği 20px azaltın */
  padding: 0; /* İçeriğin üstten ve soldan boşluğunu sıfırlayın */
}

/* Menü öğeleri için stil */
.mobile-menu-drawer .ant-menu-item {
  margin-top: 0; /* Üstten 5px boşluk bırakır */
  padding-left: 0; /* Soldan 25px padding ekler */
}

/* İçerik Stilleri */

.content {
  flex-grow: 1; /* İçeriğin genişlemesini sağlar */
  margin-top: 64px; /* Üstte 64px boşluk */
  margin-bottom: 30px; /* Alt kısmında 30px boşluk */
  padding: 24px; /* Tüm kenarlardan 24px padding */
  transition: margin-left 0.6s ease; /* İçeriğin sol margin değişimini 0.6 saniyede yavaşlat */
  z-index: 1; /* Menü çekmecesinin altında kalmasını sağlar */
  transform: translateX(0); /* İçerik alanının başlangıç konumu */
  transition: transform 0.6s ease; /* İçeriğin hareketini 0.6 saniyede yavaşlat */
}

/* Menü daraltıldığında content için uygulanacak stil */
.sider-collapsed {
  margin-left: 80px; /* Menü daraltıldığında genişlik */
  /*margin-right: calc(10px + 10px); /* Sağdan 10px boşluk + menü genişliği kadar boşluk bırakır */
}

/* Responsive Ayarlar */

@media (max-width: 768px) {
  .admin-layout .header {
    justify-content: space-between; /* Başlık ile butonları aralar */
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px; /* Köşe ovalleştirme */
    z-index: 1000;
    box-shadow: none; /* Header üzerinde gölge yok */
  }
  
  .header-title {
    font-size: 18px; /* Yazı tipi boyutu 18px */
  }
  
  .menu-button {
    font-size: 20px; /* Yazı tipi boyutu 20px */
    color: inherit; /* Üst öğenin rengini alır */
    display: block; /* Blok düzende gösterir */
  }
  
  .desktop-menu {
    display: none; /* Masaüstü menüyü gizler */
  }
  
  .content {
    margin-left: 0; /* Solda boşluk yok */
    margin-bottom: 30px; /* Alt kısmında 30px boşluk */
  }
}

:root {
  --menu-bg-color-dark: #001529; /* Koyu tema arka plan rengi */
  --menu-bg-color-light: #ffffff; /* Açık tema arka plan rengi */
}

/* Koyu tema için */
.mobile-menu-drawer.dark-theme {
  background: var(--menu-bg-color-dark);
}

/* Açık tema için */
.mobile-menu-drawer.light-theme {
  background: var(--menu-bg-color-light);
}

:root {
  --header-text-color-dark: #ffffff; /* Koyu tema için yazı rengi */
  --header-text-color-light: #000000; /* Açık tema için yazı rengi */
}

/* Koyu tema için yazı rengi */
.mobile-menu-drawer.dark-theme .ant-drawer-title {
  color: var(--header-text-color-dark);
}

/* Açık tema için yazı rengi */
.mobile-menu-drawer.light-theme .ant-drawer-title {
  color: var(--header-text-color-light);
}

/* Menü Okları ve Taşma Olmaması için gerekli düzenleme */

.ant-menu-submenu-title .ant-menu-submenu-arrow {
  display: flex; /* Flexbox ile düzenleme yapar */
  align-items: center; /* Dikeyde ortalar */
}

.ant-menu-submenu-popup {
  overflow: auto; /* Taşma durumunda kaydırma çubuğu ekler */
}

.ant-menu-item, .ant-menu-submenu {
  overflow: hidden; /* Taşan içeriği gizler */
  text-overflow: ellipsis; /* Metin taşması durumunda üç nokta ekler */
  white-space: nowrap; /* Metni tek satırda tutar */
  font-size: 16px;
}
/* Büyük Ekran Ayarları (992px ve Üstü) */
@media (min-width: 992px) {
  .admin-layout .menu-button {
    display: none; /* Büyük ekranlarda gizlenir */
  }
}

/* Küçük Ekran Ayarları (991px ve Altı) */
@media (max-width: 991px) {
  .admin-layout .menu-button {
    display: block; /* Küçük ekranlarda görünür */
    font-size: 17px; /* Yazı tipi boyutu 17px */
    color: inherit; /* Üst öğenin rengini alır */

  }
}

.inline-menu {
  width: 240px; /* veya uygun genişlik */
  border-radius: 30px; /* Köşeleri oval yapar */
  padding-top: 10px;
}

.vertical-menu {
  width: 240px; /* veya uygun genişlik */
  border-radius: 30px; /* Köşeleri oval yapar */
  padding-top: 10px;
}

/* Switch bileşenlerinin genişlik ve yüksekliğini ayarlamak */
.switch-item .ant-switch {
  width: 80px; /* Switch genişliğini belirler */
  height: 22px; /* Switch yüksekliğini belirler */
}

.header-settings {
  display: flex;
  flex-direction: column; /* Dikey hizalamayı sağlar */
  gap: 16px; /* Elemanlar arasındaki boşluğu ayarlar */
}

.switch-container {
  display: flex;
  flex-direction: column; /* Başlıklar ve switch'leri dikey hizalar */
  gap: 24px; /* Başlıklar ve switch'ler arasındaki boşluğu ayarlar */
}

.switch-item {
  display: flex;
  flex-direction: column; /* Başlık ve switch'i dikey hizalar */
  align-items: flex-start; /* Başlık ve switch'i sola hizalar */
}

.switch-item span {
  margin-bottom: 4px; /* Başlık ile switch arasındaki boşluk */
}

.switch-item .ant-switch {
  margin-top: 0; /* Switch'in başlık ile arasındaki boşluğu ayarlar */
}

/* Oval köşeler ve merkezleme için CSS */
.ant-layout-sider-trigger {
  border-radius: 40%; /* Oval köşeler için */
  width: 36px; /* Buton genişliği */
  height: 36px; /* Buton yüksekliği */
  line-height: 36px; /* İçeriği ortalamak için */
  text-align: center; /* İçeriği ortalamak için */
  background-color: #001529; /* Arka plan rengi */
  color: #ffffff; /* İkon rengi */
  display: flex; /* İçeriği merkezlemek için flexbox kullanımı */
  justify-content: center; /* Yatayda merkezleme */
  align-items: center; /* Dikeyde merkezleme */
}

/* Üzerine gelindiğinde arka plan rengini değiştirme */
.ant-layout-sider-trigger:hover {
  background-color: #1890ff; /* Hover arka plan rengi */
}
