/* CategoryPage.css */

/* Daha küçük ekranlar için stil ayarları */
@media (max-width: 576px) {
  .ant-btn {
    width: 100%;
    margin-bottom: 8px;
  }

  .custom-col {
    flex: 1 0 100%;
  }
}

/* Orta büyüklükteki ekranlar için stil ayarları */
@media (min-width: 576px) and (max-width: 768px) {
  .ant-btn {
    width: 100%;
    margin-bottom: 8px;
  }

  .custom-col {
    flex: 1 0 50%;
  }
}

/* Büyük ekranlar için stil ayarları */
@media (min-width: 768px) and (max-width: 992px) {
  .custom-col {
    flex: 1 0 33.33%;
  }
}

/* En büyük ekranlar için stil ayarları */
@media (min-width: 992px) {
  .custom-col {
    flex: 1 0 25%;
  }
}
